<div class="header">
  <div class="header--logo logo--head">
    <a href="/"><img class="headlogo--large headlogo" src="./logos/logoLarge.svg" alt="large logo black"></a>
    <a href="/"><img class="headlogo--small headlogo" src="./logos/logoSmall.svg" alt="mobile Logo Small"></a>
  </div>
  <nav class="nav">
    <a href="#designers">Designers</a>
    <a href="#about">The Show</a>
    <!-- <div class="search">
      <input type="text" name="" placeholder="Designer Search">
    </div> -->
  </nav>
</div>
