@font-face {
    font-family: 'HelveticaNowDisplay';
    src: local('HelveticaNowDisplay Bold'), local('HelveticaNowDisplay-Bold'),
        url('HelveticaNowDisplay-Bold.woff2') format('woff2'),
        url('HelveticaNowDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: local('HelveticaNowDisplay Medium'), local('HelveticaNowDisplay-Md'),
        url('HelveticaNowDisplay-Md.woff2') format('woff2'),
        url('HelveticaNowDisplay-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

