{{ define "main" }}
<div class="wap crop">
  <div class="parallax-container">
    <div class="line"></div>
        <div class="hero">
          <div class="logo">
            <img class="logo--large" src="./logos/logoLarge.svg" alt="large logo black">
            <img class="logo--small" src="./logos/logoSmall.svg" alt="mobile Logo Small">
          </div>
          <div class="info-wrap">
            <h3>online only</h3>
          </div>
        </div>
      <div class="line bottom"></div>
      <div id="about" class="about-wrap section">
        <div  class="content-well">
          <h2>A statement from The Designers:</h2>
          <p>
            We at Minneapolis College have, along with many other graduating design students from around the world, shifted our portfolio to a fully virtual format. The entirety of our courses have also been completed digitally, too. But we're still designing. We've been working hard to curate and show what we have accomplished during our time here at Minneapolis College, and we're glad you're here to view it.
          </p>
          <p>
            While we wish we could have seen you all and have had you interact with our portfolio pieces in person, we understand how vital social distancing is during these extraordinary times. This isn't the most ideal situation but neither is the current state of the world. Even though we may be physically apart from another, we're in this together.
          </p>
          <p>Thank you for taking time to view our accomplishments, we really appreciate it.</p>
        </div>
      </div>
      <h2 id="designers" class="designer-title">Designers</h2>
      <div  class="designer-wrap section box-wrap">
        {{ range (where .Site.RegularPages "Type" "designer")}}
        <div class="box fadein">
          <a href="{{ .Permalink}}" class="embed">
            <img class=""src="{{ with .Params.image }}{{ . }}{{ end }}" alt="Artist Headshot">
          </a>
          <a class="item-title" href="{{ .Permalink}}"><h4>{{ .Title }}</h4></a>
          <p>{{ .Description}}</p>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
